body {
  margin: 0px;
}
.header-container {
  position: fixed;
  display: flex;
  align-items: center;
  height: 156px;
  width: 87.91666%;
  padding: 0 6.04167%;
  background: #ffffff;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo-container {
  width: 26.85624%;
}
.logo-container > img {
  width: 100%;
}
.tabs-container {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  width: 50.7109%;
}
.tabs-container > div:hover {
  cursor: pointer;
}
.color-C4 {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #c4c4c4;
}
.color-C4 > img {
  width: 16px;
}
.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 160.17px;
  height: 61px;
  background: linear-gradient(99.11deg, #d5904e -12.56%, #7d5d3f 158.17%);
  border-radius: 10px;
}
.social-container > div:hover {
  cursor: pointer;
}
.ig {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 30.81px;
  width: 30.76px;
}
.ig > .img1 {
  width: 100%;
}
.ig > .img2 {
  position: absolute;
  height: 10.26px;
  width: 10.26px;
}
.tw {
  height: 32.8px;
  width: 32.8px;
}
.tw > img {
  width: 100%;
}
.fb {
  height: 33.96px;
  width: 34.16px;
}
.fb > img {
  width: 100%;
}
.burger-menu {
  display: none;
}
.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 162px;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
}
.img-sliders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 651px;
  width: 87.152778%;
  margin-bottom: 60px;
}
.img {
  width: 100%;
  height: 92.47312%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.sliders-container {
  display: flex;
  justify-content: space-between;
  width: 22.70916%;
  height: 24px;
}
.slider {
  height: 100%;
  width: 22.45614%;
  box-sizing: border-box;
  border: 2px solid #4e4e4e;
  border-radius: 30px;
}
.slider1 {
  width: 46.31579%;
  margin-right: 5.96491%;
  background: #cf9246;
  border: unset;
  border-radius: 30px;
}
.slider2 {
  margin-right: 2.80702%;
}
.intro-card-container {
  display: flex;
  justify-content: space-between;
  width: 82.63889%;
  height: 550px;
  padding-right: 14px;
}
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50.5042%;
  height: 61.45454%;
  margin-top: 101px;
}
.title {
  height: 168px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 84px;
}
.description {
  height: 90px;
  width: 79.86689%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #707070;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 217px;
  height: 56px;
  background: linear-gradient(99.11deg, #d5904e -12.56%, #7d5d3f 158.17%);
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
.button:hover {
  cursor: pointer;
}
.cards-container {
}
.card {
}
.card1 {
}
.card2 {
}
.card3 {
}
