@media only screen and (max-width: 600px) {
  .header-container {
    height: 82px;
    width: 89.33334%;
    padding: 0 5.33333%;
  }
  .logo-container {
    width: 33.02239%;
  }
  .social-container {
    display: none;
  }
  .tabs-container {
    display: none;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 8%;
    height: 26px;
  }
  .burger-menu:hover {
    cursor: pointer;
  }
  .menu-bar {
    height: 1px;
    width: 66.66667%;
    background: #d5904e;
    border: 1px solid #d5904e;
    border-radius: 2px;
  }
  .main-container {
    padding-top: 94px;
  }
  .img-sliders-container {
    height: 337px;
    width: 86.83333%;
    margin-bottom: 36px;
  }
  .img {
    width: 100%;
    height: 94.06528%;
    box-shadow: unset;
    filter: drop-shadow(0px 1.66343px 1.66343px rgba(0, 0, 0, 0.25));
    border-radius: 12.4757px;
  }
  .sliders-container {
    width: 18.66667%;
    height: 10px;
  }
  .slider {
    width: 22.45614%;
    border: 0.794997px solid #4e4e4e;
    border-radius: 11.9249px;
  }
  .slider1 {
    width: 46.42857%;
    margin-right: 6.25%;
    border: unset;
    border-radius: 11.9249px;
  }
  .slider2 {
    margin-right: 2.67857%;
  }
  .intro-card-container {
    flex-direction: column;
    width: 87%;
    height: 815px;
    padding-right: 0;
    margin-bottom: 7px;
  }
  .intro-container {
    width: 92.52873%;
    height: 274px;
    margin-top: 0px;
  }
  .intro-container > .title {
    height: 136px;
    font-size: 45px;
    line-height: 68px;
  }
  .intro-container > .description {
    width: 385.98px;
    height: 73px;
    font-size: 16.0825px;
    line-height: 24px;
  }
  .intro-container > .button {
    width: 175.08px;
    height: 45px;
    border-radius: 8.04125px;
    font-size: 19.299px;
    line-height: 29px;
  }
  .cards-container {
    width: 100.95785%;
    height: 514px;
  }
  .card {
    width: 49.52562%;
    height: 67.89883%;
  }
  .card2 {
    right: 25.80645%;
    bottom: 17.31517%;
  }
  .menu-container {
    align-items: flex-start;
    width: 87.33333%;
    margin-bottom: 65px;
  }
  .menu-content {
    align-items: flex-start;
    width: 86.64122%;
    text-align: unset;
    margin-bottom: 43px;
  }
  .menu-content > .title {
    width: 35.68282%;
  }
  .menu-content > .description {
    height: 90px;
  }
  .menu-card {
    width: 31.48855%;
    height: 169px;
  }
  .menu-card > img {
    filter: drop-shadow(0px 2.51869px 2.51869px rgba(0, 0, 0, 0.25));
    border-radius: 22.0385px;
  }
  .row1 {
    margin-bottom: 24px;
  }
  .menu-text {
    height: 90px;
    width: 87.38788%;
    left: 6.66667%;
    font-size: 30.2242px;
    line-height: 45px;
  }
  .row2 {
    margin-bottom: 24px;
  }
  .row3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 39px;
  }
  .menu-container > .button {
    width: 40.26717%;
  }
  .services-container {
    width: 83.16667%;
    margin-left: 0;
    margin-right: 3.83333%;
    margin-bottom: 68px;
  }
  .services-content {
    align-items: unset;
    text-align: unset;
  }
  .services-content > .title {
    margin-bottom: 10px;
  }
  .services-content > .description {
    width: 100%;
    height: 90px;
  }
  .services-cards-container {
    flex-direction: column;
    height: 818px;
    width: 96.79359%;
  }
  .service-card1 {
    width: 96.68737%;
    height: 22.24939%;
  }
  .service-card2 {
    width: 95.03105%;
    height: 24.20538%;
  }
  .service-card3 {
    width: 100%;
    height: 29.09535%;
  }
  .partner-container {
    width: 87%;
    height: 627px;
    margin-bottom: 822px;
  }
  .partner-container > .title {
    margin-bottom: 22px;
  }
  .partner-container > img {
    width: 88.31418%;
    height: 521px;
  }
}
