body {
  margin: 0px;
}
.header-container {
  position: fixed;
  display: flex;
  align-items: center;
  height: 156px;
  width: 87.91666%;
  padding: 0 6.04167%;
  background: #ffffff;
  z-index: 4;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo-container {
  width: 26.85624%;
}
.logo-container > img {
  width: 100%;
}
.tabs-container {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  width: 50.7109%;
}
.tabs-container > div:hover {
  cursor: pointer;
}
.color-C4 {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #c4c4c4;
}
.color-C4 > img {
  width: 16px;
}
.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 160.17px;
  height: 61px;
  background: linear-gradient(99.11deg, #d5904e -12.56%, #7d5d3f 158.17%);
  border-radius: 10px;
}
.social-container > div:hover {
  cursor: pointer;
}
.ig {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 30.81px;
  width: 30.76px;
}
.ig > .img1 {
  width: 100%;
}
.ig > .img2 {
  position: absolute;
  height: 10.26px;
  width: 10.26px;
}
.tw {
  height: 32.8px;
  width: 32.8px;
}
.tw > img {
  width: 100%;
}
.fb {
  height: 33.96px;
  width: 34.16px;
}
.fb > img {
  width: 100%;
}
.burger-menu {
  display: none;
}
.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 162px;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
}
.img-sliders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 651px;
  width: 87.152778%;
  margin-bottom: 60px;
}
.img {
  width: 100%;
  height: 92.47312%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.sliders-container {
  display: flex;
  justify-content: space-between;
  width: 22.70916%;
  height: 24px;
}
.slider {
  height: 100%;
  width: 22.45614%;
  box-sizing: border-box;
  border: 2px solid #4e4e4e;
  border-radius: 30px;
}
.slider:hover {
  cursor: pointer;
}
.slider1 {
  width: 46.31579%;
  margin-right: 5.96491%;
  background: #cf9246;
  border: unset;
  border-radius: 30px;
}
.slider2 {
  margin-right: 2.80702%;
}
.intro-card-container {
  display: flex;
  justify-content: space-between;
  width: 82.63889%;
  height: 550px;
  padding-right: 14px;
  margin-bottom: 58px;
}
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50.5042%;
  height: 338px;
  margin-top: 101px;
}
.title {
  height: 84px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 84px;
}
.intro-container > .title {
  width: 100%;
  height: 168px;
}
.description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #707070;
}
.intro-container > .description {
  width: 79.86689%;
  height: 90px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  background: linear-gradient(99.11deg, #d5904e -12.56%, #7d5d3f 158.17%);
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
.intro-container > .button {
  width: 36.10649%;
}
.button:hover {
  cursor: pointer;
}
.cards-container {
  width: 46.63865%;
  height: 100%;
  position: relative;
}
.card {
  width: 49.54955%;
  height: 66.72727%;
}
.card > img {
  width: 100%;
  height: 100%;
}
.card1 {
  z-index: 1;
}
.card2 {
  position: absolute;
  right: 25.76576%;
  bottom: 17.09091%;
  z-index: 2;
}
.card3 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
}
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79.44444%;
  margin-bottom: 112px;
}
.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 67.3951%;
  text-align: center;
  margin-bottom: 30px;
}
.menu-content > .title {
  width: 21.01167%;
  margin-bottom: 19px;
}
.menu-content > .description {
  width: 100%;
  height: 60px;
}
.menu-cards-container {
  width: 100%;
}
.menu-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu-card {
  position: relative;
  width: 31.2937%;
  height: 334px;
}
.menu-card > img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 35px;
}
.row1 {
  margin-bottom: 48px;
}
.menu-text {
  position: absolute;
  height: 144px;
  width: 63.96648%;
  left: 11.17318%;
  bottom: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
}
.row2 {
  margin-bottom: 20px;
}
.row3 {
  display: none;
}
.menu-container > .button {
  width: 18.44405%;
  align-self: flex-start;
}
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87.15278%;
  margin-left: 4.51389%;
  margin-bottom: 401px;
}
.services-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 499px;
  text-align: center;
  margin-bottom: 40px;
}
.services-content > .title {
  width: 362px;
  margin-bottom: 10px;
}
.services-content > .description {
  width: 100%;
  height: 90px;
}
.services-cards-container {
  display: flex;
  justify-content: space-between;
  height: 151px;
  width: 100%;
}
.service-card1{
  width: 29.48207%;
  height: 95.36424%;
}
.service-card2{
  width: 27.17131%;
  height: 97.35099%;
}
.service-card3{
  width: 28.36653%;
  height: 100%;
}
.partner-container{
  width: 82.63889%;
  height:  813px;
  margin-bottom: 632px;
}
.partner-container > .title{
  width: 334px;
  margin-bottom: 26px;
}
.partner-container > img{
  width: 93.86555%;
}
